{% extends "index.html" %}
{% block content %}
<p>
    <form action = "" method = "POST">
        Tytuł: <input type = "text" id = "title" name = "title"><br>
        Imie autora: <input type = "text" id = "authorName" name = "authorName"><br>
        Nazwisko autora: <input type = "text" id = "authorSurname" name = "authorSurname"><br>
        Imie drugiego autora: <input type = "text" id = "authorName2" name = "authorName2"><br>
        Nazwisko drugiego autora: <input type = "text" id = "authorSurname2" name = "authorSurname2"><br>
            <input type = "submit" value = "dodaj">
    </form>
</p>
{% endblock %}